* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.indent {
    width: 65vw;
    max-width: 1652px;
    margin: 0 auto;
    justify-content: center;
    max-width: 1248px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    height:6vh;
}

.header_nav
{
    text-decoration: none;
    width: 51.21vw;
}

.header_menu-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none; /* убирает маркеры */ 
}

.logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;    
}

.header_link {
    text-decoration: none;
    color: inherit; /* наследует цвет родителя */
    font-size: 18px;
}
.header_link:hover {
    text-decoration: underline;
    font-size: 24px;
}

.button
{    
    align-self:stretch;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    outline: none;
    border: 1px solid #6A8D92;
    border-radius: 50px; 
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
	user-select: none;
    appearance: none;
	touch-action: manipulation;  
    vertical-align: top; 
	transition: box-shadow 0.2s;
}

.button:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.button:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.button:active {
	background-color: #808080;
}
.button:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}