* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.indent {
    justify-content: center;

    width: 65vw;
    max-width: 1248px;

    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height:3vw;  
    min-height: 35px;
    max-height: 64.8px;

    margin-top: 2.8%; 

    container-type: inline-size;
    
    
}

.logo {
    font-size: 1.9cqw;  
    font-weight: 700;
    line-height: 1.5;    
}

.header_nav
{
    width: 51.21vw;

    text-decoration: none;
}

.header_menu-list {
    display: flex;
    justify-content: space-evenly;

    list-style: none; /* убирает маркеры */ 


}
.header_menu-item{
   width: 8.5%;
    container-type: inline-size;
}

.header_link {
    font-family: 'Inter', sans-serif;
    font-size: 23.9cqw; 
    color: inherit; /* наследует цвет родителя */
    text-decoration: none;
}

.header_link:hover {
    /* font-weight: 700; */
    text-decoration: underline;
}


.header_button
{    
    display: inline-block;
    align-self:stretch;

    padding: 0 2%;    
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    font-size: 1.3cqw; /* 1.12cqw */
    font-weight: 00;
    color: #000000;
    text-decoration: none;
	user-select: none;
    letter-spacing: 0.5px;

    background-color: #fff;
    outline: none;
    border: 1px solid #6A8D92;
    border-radius: 50px; 
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    appearance: none;
	touch-action: manipulation;  
    vertical-align: top; 

	transition: box-shadow 0.2s;
}

.button:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}

.button:hover {
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
	transition: all 0.2s;
}

.button:active {
	background-color: #808080;
}

.button:disabled {
	color: #444;
	background-color: #eee;
	border-color: #eee;
	cursor: not-allowed;
}

.hero {
    display: flex;

    margin-top: 8.01%; 
}

.hero_content {
    display: flex;
    flex-direction: column;
    width: 37vw;
    /* max-width: 1248px; */
    container-type: inline-size;
}


.hero_title {
    margin-bottom: 2.8%; 
    margin-top: 11.26%; 
    
    font-family: 'Inter', sans-serif;
    font-size: 7.88cqw; 
    font-weight: 700;
    line-height: 1.5;    


    
}
.hero_title_second_color {
    color:#6A8D92 ;
    font-weight: 900;
}


.hero_subtitle {
    margin-bottom: 28.15%; 
    
    font-family: 'Inter', sans-serif;
    font-size: 4.5cqw;
    font-weight: 700;
    line-height: 1.5;    
}
.hero_description {
    display: flex;
    flex-direction: column;


}
.hero_text {
    margin-bottom: 2.8%;  
    
    font-family: 'Inter', sans-serif;
    font-size: 2.8cqw;  
    font-weight: 400;
    line-height: 1.6; 
}

.hero_note {
    align-self: flex-end;
    margin-right: 8%;

    font-family: 'Inter', sans-serif;
    font-size: 2.8cqw;
    font-weight: 700;
    line-height: 1.6; 
    color:#6A8D92 ;
}

.hero_image-wrapper {
    display: flex;
    justify-content:center;
    width: 28vw;
}

.my_photo {
    width: 100%;
    height: 100%;
}